<h1>Bienvenue !</h1>
<p>Ohé, matelot ! toi qui débarques juste sur notre île de la Tortue à plumes.</p>
<p> Ici, le rhum est bon, mais les distractions sont rares. Il y a bien l'arǹe, mais...</p>
<p>Seras-tu assez courageux pour y descendre ? Seras-tu assez fort pour combattre les plus forts des pirates ?
  En sortiras-tu vivant ?</p>
