<h1>Les Combats Passés</h1>

<table>
  <tr>
    <th>Gagnant</th>
    <th>Perdant</th>
    <th>Résumé</th>
  </tr>
  <% @fights.each do |fight| %>
    <tr>
      <td><%= fight.winner.name %></td>
      <td><%= fight.loser.name %></td>
      <td><% fight.summary_ex.each do |s| %>
          <%= s %><br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
